<?xml version="1.0"?>
<robot name="object">
  <link name="object">
    <visual>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/tless/obj_01.stl" scale=".0018 .0018 .0018"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/tless/obj_01.stl" scale=".0018 .0018 .0018"/>
      </geometry>
    </collision>
    <inertial>
      <density value="500.0"/>
    </inertial>
  </link>
</robot>
